body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p{
    margin-block: 0px;
}
hr{
    margin-bottom: 0px;
    width: 100%;
    z-index: 100;
}
a{
    text-decoration: none;
    
}
.start {
    width: 100%;
    height: 700px;
    background-image: url('photos/fon.png');
    background-size: cover;
    background-position: center;
}
.page{

font-family: Georgia, serif;
}
.top-of-the-page a{
    color: black;
}
.top-of-the-page {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(236,224,208,0.7);
    backdrop-filter: blur(10px);
}
.photo {
    width: 4rem;
    height: 5rem;
    margin-left: 20%;
}
.companyname {
    margin-left: 3%;
    font-size: 1.5rem;
    font-weight: bold;
}
.top_text {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 150px 20px;
}
.nav-obj{
    margin-left:90% ;
    font-size: 1.5rem;
    font-weight: bold;
}
/* da */
.main{
    background-color: white;
    
    width: 100%;
    height: 655px;
}
.mainname{
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.myproducts{
    display:inline-block
}
.myprod{
    border: 3px solid antiquewhite;
    margin-left: 180px;
    width: 270px;
    height: 400px;
    
}
.button-to-prod-block{
    width: 100%;
}
.button-to-products{
    border: 2px solid black;
    text-align: center;
    background-color: antiquewhite;
    position: relative;
    margin-left: 31%;
    margin-top: 50px;
    width: 38%;
    height: 70px;
    font-size: 23px;
    cursor: pointer;
    transition: background-color 0.6s, transform 0.5s;
    animation: forwards;
    z-index: 100;
    display: block;
}
.button-to-products:hover {
    color: #fff;
    	background: #333;
 
        transform: scale(110%);
}
.wid{
    width: 100%;
}
.link-to-my-products{
   display: inline-block;
    width: 100%;
    height: 1000px;
    background-color: rgb(40, 40, 40);
    margin-top: 40px;
    color: white;
    background-image: url(/assets/foname.jpg);

    
}
.img-to-my-products{
    
    float: right;
    margin-right: 190px;
    margin-top: 100px;
    width: 600px;
    height: 800px;
    margin-bottom: 100px;
    border: 10px groove antiquewhite;
}
.text-to-my-products{
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 20px;
    
}
.text-to-my-products-big{
    font-size: 40px;
}
.text-to-my-products-small{
    font-size: 24px;
    color: #bfbfbf;
}
.button-to-products-my{
    background-color: rgb(40, 40, 40, 0);
    background-color: none;
    border: 0px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    padding: 0px;
    margin-top: 50px;
    transition: transform 0.8s;
 
}
.button-to-products-my:hover{
transform: translateX(20px);
}
.want-some{
    height: 400px;
    padding-top: 50px;
}
.center{
    text-align: center;
    line-height: 35px;
}
.want-some-1{
font-size: 35px;
margin-top: 100px;
margin-bottom: 20px;
}
.want-some-2{
font-size: 20px;
color: #676767;
}
.upfooter{
    background-image: url(/photos/fon5.jpg);
    background-attachment: fixed ;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-position: center center;
}
.products2{
margin-top: 50px;
margin-left: 110px;
margin-bottom: 50px;
width: 600px;
height: 400px;
border-top: 8px groove rgb(224, 233, 194);
border-left: 8px groove rgb(224, 233, 194);
border-radius: 100px;
box-shadow: 10px 10px 10px grey;
}
  .products3{
    height: 900px;
}
.cotam_text{
padding-top: 50px;
text-align: center;
font-size: 36px;
width: 100%;
}
.cotam_obj{
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
    height: 10rem;
    font-size: 1.6rem;
    color: rgb(171, 2, 2);
}
.cotam1{
    display: inline-block;
border-inline: 2px solid rgb(108, 0, 0);
border-top: 2px solid rgb(108, 0, 0);
width: 20%;
margin-left: 10%;
text-align: center;
height: 11rem;
}
.cotam2{
    margin-left: 10%;
    border-top: 2px solid rgb(108, 0, 0);
    display: inline-block;
text-align: center;
width: 20%;
border-inline: 2px solid rgb(108, 0, 0);
height: 11rem;
}
.cotam3{
    border-top: 2px solid rgb(108, 0, 0);
    margin-left: 10%;
    display: inline-block;
text-align: center;
width: 20%;
border-inline: 2px solid rgb(108, 0, 0);
height: 11rem;
}
.cotam1, .cotam2, .cotam3{
    padding-top: 15px;
}
.qwerty {
    padding-top: 0.7rem;
    margin-top: 1rem;
    color: #313131;
    font-size: 1rem;
    padding-inline: 2rem;
}
.cotam4{
    padding-block: 2rem;
text-align: center;
color: red;
font-size: 2.3rem;
border-top: 2px solid rgb(108, 0, 0);
}
.qwerty4{
margin-top: 1rem;
color: #313131;
font-size: 1.4rem;
    padding-inline: 2rem;
}
.meble{
    margin-top: 100px;
    color: white;
    background-image: url(/assets/foname.jpg);
    height: 800px;
}
.meble_photo1{
    float: left;
    margin-top: 50px;
    margin-left: 160px;
    height: 400px;
    width: 550px;  
    border: 8PX solid antiquewhite;
    border-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: inline;
}
.meble_photo2{
    display: inline;
    float: right;
    margin-top: 50px;
    margin-right: 160px;
    height: 400px;
    width: 550px;  
    border: 8PX solid antiquewhite;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.meble_text{
    text-align: center;
    padding-top: 100px;
    font-size: 45px;
    text-decoration: underline;

}
.meble_link{
margin-left: 35%;
font-size: 40px;
font-weight: 700;
width: 30%;
}
legend{
    text-align: center;
    font-size: 26px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgb(172, 207, 44);

}
.maila{
    background-image: url(/assets/phon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 700px;
    background-position: center center;
    margin-top: 1rem;
}
.mailme{
    color: black;
    font-size: 40px;
    background: none;
    border: none;
    width: 100%;
    text-align: center;
            margin-top: 50px;
            margin-left: 250px;
            width: 28%;
            border: 3px solid black;
            background-color: antiquewhite;
            transition: transform 0.8s, color 1s ;
}
.mailme:hover{
    color:white;
    border: 3px solid antiquewhite;
    background: #333;
    transform: scale(110%);
}
.text_mailme{
    font-size: 44px;
    margin-top: 250px;
    margin-left: 200px;
    color: white;
    font-style: bold;
    text-align: left;
}
/* Нижний колонтитул */
.foot {
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 30px 20px;
    text-align: center;
}
.foot a{
    color: rgb(170, 170, 170);
}
.centerfoot a {
    color: rgb(255, 255, 255);
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: #fff;
    background: #333;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.6;
}

.back-to-top:hover {
    background: #000;
    opacity: 1;
}
.myinfo{
    color: rgb(170, 170, 170);
    font-size: 1rem;
    margin-top: 20px;
}
.insta {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.3s;
}

.insta:hover {
    transform: scale(1.5);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    line-height: 2.3em;
}
.qqq{
    color: white;
}
.footname, .footname1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}
.number-to-products {
    border: 2px solid black;
    text-align: center;
    background-color: antiquewhite;
    position: relative;
    left: 37%;
    margin-top: 50px;
    width: 400px;
    height: 70px;
    font-size: 23px;
    cursor: pointer;
    transition: background-color 0.6s, transform 0.5s, box-shadow 0.5s;
}

.number-to-products:hover {
    color: #fff;
    background: #333;

    transform: scale(110%);
}
.ww{
    color: rgb(233, 233, 233);
}
.myproducts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    /* Расстояние между изображениями */
}

.myprod {
    width: 100%;
    max-width: 270px;
    /* Максимальная ширина для больших экранов */
    height: 25rem;
    /* Сохраняет соотношение сторон */
    border: 3px solid antiquewhite;
    margin: 70px;
    margin-bottom: -10px;
    /* Добавить немного отступов */
}


/* media */
@media (max-width: 1300px) {
    .page{
        width: 100%;    
        overflow-x: hidden;
    }
    .main{
        height: auto;
        width: auto;
        max-width: 100%;
    }
    .photo{
        height: 6rem;
        width: 5rem;
    }
    .nav-obj{
        margin-left: 0;
        font-size: 1.3rem;
        font-weight: 400;
    }
    .mainname {
        font-size: 1.7rem;
        width:max-content;
        width: 100%;
        text-align: center;
    }
    .top_text{
        padding: 0;
        text-align: center;
        margin-top: 20%;
        padding: 2rem;
    }
    .myprod {
        height: 10%;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 1rem;
        
    }
    .companyname{
        margin-left: 2rem;
        font-size: 1.25rem;
    }
    .number-to-products, .button-to-products-my {
        width: 90%;
        margin-inline: 5%;
        margin-top: 0rem;
    }
    .cotam1, .cotam2, .cotam3{
        border: 0;
        display: block;
        margin-bottom: 5rem;
        text-align: center;
        width: 100%;
        margin-left: 0;
        word-break:normal;
        border-bottom: 2px solid;
    }
    .cotam1{
        border-top: 2px solid;
        padding-top: 3rem;
    }
    .cotam3{
        border: 0;
        margin-bottom: 1rem;
    }
    .number-to-products{
        left: 0;
        margin-top: 0;
        width: 80%;
        font-size: 1.5rem;
        margin-bottom: 10rem;
        
    }
    .button-to-products{

            margin-left: 25%;
            width: 50%;
    }
    .wid{
        margin-left: 2rem;
        margin-right: 2rem;
        width: 24.4rem;
    }
    .meble_text, .want-some-1, .footname {
        font-size: 1.5rem;
    }
   .img-to-my-products {
        width: 90%;
        max-width: 100%;
        margin: 20px 0;
    }
    .text-to-my-products-big {
        font-size: 1.3rem;
    }
    .text-to-my-products-small, .want-some-2 {
        font-size: 0.9rem;
    }
    hr{
        width: 95%;
    }
    .upfooter{
        height: 0;
    }
    .img-to-my-products{
        float: left;
        width: 90%;
        margin-left: 4%;
        border: 6px groove antiquewhite;
        height: 35rem;
    }
    .link-to-my-products{
        width: 100%;
        text-align: center;
        height: auto;
        padding-bottom: 2rem;
    }
    .text-to-my-products{
        text-align: center;
        margin: 0;
        padding: 0px 10px;
    }
    .want-some{
        height: auto;
    }
    .want-some-1{
        padding-inline: 2rem;
    }
    .want-some-2{
        padding-inline: 1rem;
    }
    .meble{
        height: auto;
        padding-bottom: 2rem;
    }
    .meble_link{
        padding-top: 2rem;
        font-size: 1.7rem;
    }
    .meble_photo1,.meble_photo2{
        border: 5px solid;
        border-radius: 10%;
        margin: 0;
        margin-left: 4% ;
        width: 90%;
        float: left;
        margin-top: 1.5rem;
    }
    .back-to-top{
        margin-right: 1rem;
    }
    .maila{
        height: auto;
        padding-bottom: 2rem;
    }
    .text_mailme{
        margin: 0;
        margin-top: 12rem;
        font-size: 2.5rem;
        text-align:center;
        font-weight: bold;
    }
    .mailme{
        width: 60%;
        margin: 0;
        margin-left: 19%;
        margin-top: 5rem;
    }

    .products2,.products3{
        width: 90%;
        margin: 0;
        margin-left: 4%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        height:30rem;
    }
    .myprod{
        margin: 0;
        gap: 0;
    }
}



/* Стили для шапки сайта */
.menu-icon {
    display: none;
    /* Изначально скрываем иконку */
    font-size: 30px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    gap: 20px;
}

/* Стили для мобильной версии */
@media (max-width: 1300px) {
    .top-of-the-page {
        justify-content: space-between;
        padding: 10px;
    }

    .companyname {
        font-size: 1.5rem;
        margin: 0;
    }

    /* Показываем иконку гамбургера на мобильных устройствах */
    .menu-icon {
        display: block;
        float: right;
        margin-right: 10%;
    }

    /* Прячем меню по умолчанию */
    .nav-menu {
        z-index: 10;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background: rgba(236, 224, 208, 0.95);
        border-radius: 5px;
        padding: 10px;
        z-index: 1000;
    }
    
    /* Ссылки в выпадающем меню */
    .nav-menu a {
        display: block;
        padding: 10px;
        color: black;
        text-decoration: none;
    }

    .nav-menu a:hover {
        background: #333;
        color: white;
    }
        .nav-menu {
            display: none;
            /* По умолчанию скрываем меню */
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 10px;
            background: rgba(236, 224, 208, 0.95);
            border-radius: 5px;
            padding: 10px;
            z-index: 1000;
        }
    
        /* Ссылки в меню */
        .nav-menu a {
            display: block;
            padding: 10px;
            color: black;
            text-decoration: none;
        }
    
        .nav-menu a:hover {
            background: #333;
            color: white;
        }
    
        /* Когда меню активно, показываем его */
        .menu-active {
            display: flex;
        }
}







.foot {
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Позволяет элементам переноситься на следующую строку */
    text-align: left;
}
.footname,.footname1{
    font-weight: normal;
}
.rightfoot{
    margin-right: -100px;
}
.foot ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    /* Все элементы будут равной ширины */
    min-width: 200px;
    /* Минимальная ширина элемента */
}

.foot ul li,
.foot span,
.foot p {
    margin-bottom: 10px;
    /* Отступ между элементами */
}

.foot .leftfoot,
.foot .centerfoot,
.foot .rightfoot {
    margin: 0 100px;
    /* Отступ между колонками */
}
.rightfoot {
    margin-right: -100px;
}

